.alltask {

    height: 100vh;

}

.alltask .title {

    width: 100%;
    padding: 20px;
    border-bottom: 1px solid rgb(212, 212, 212);

}

.alltask .label {
    display: flex;
    align-items: center;

}

.alltask .tasklist {
    margin: 20px;
    overflow: scroll;
    height: 75vh;
    width: 100%;
}

.alltask .tasklist .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 10px 15px;
    border-bottom: 1px solid rgb(167, 167, 167);
    width: 90%;
}

.alltask .tasklist .card p {
    width: 80%;
}

.alltask .tasklist .card .archived {
    text-decoration: line-through;
    opacity: 30%;
}

.alltask .tasklist .card .priority {
    color: rgb(3, 105, 42);
    font-weight: 600;
}



.alltask .functions .edit {
    color: rgb(11, 105, 61);
}

.alltask .functions .delete {
    color: brown;
}

.alltask .addtask {
    margin: 20px;
}

.alltask .addtask .card {
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: space-between;
}

.alltask .addtask input {
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px 15px;
    width: 92%;
    font-size: 16px;
    resize: none;
    color: rgb(104, 104, 104);
}

.edittask {
    padding: 15px;
    font-size: 16px;
    width: 95%;
    transform: translateX(-15px);
    border: 2px solid #555;
    border-radius: 10px;
}

@media only screen and (max-width: 1420px) {
    .alltask .addtask input {
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 5px 15px;
        width: 85%;
        font-size: 16px;
        resize: none;
        color: rgb(104, 104, 104);
    }
}

@media only screen and (max-width: 1350px) {


    .label {
        display: flex;
        align-items: center;
        transform: translateX(50px);

    }
}

@media only screen and (max-width: 1200px) {
    .alltask .tasklist .card p {
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .alltask .tasklist .card p {
        width: 60%;

    }

    .alltask .functions .icon {
        font-size: 25px;
        margin: 0 5px;
    }

    .alltask .tasklist {
        margin: 20px;
        overflow: scroll;
        height: 75vh;
        width: 95%;
    }

    .alltask .addtask input {
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 5px 15px;
        width: 75%;
        font-size: 16px;
        resize: none;
        color: rgb(104, 104, 104);
    }
}

@media only screen and (max-width: 500px) {
    .alltask .tasklist .card p {
        width: 40%;

    }

    .alltask .tasklist {
        margin: 20px;
        overflow: scroll;
        height: 75vh;
        width: 90%;
    }

    .alltask .addtask input {
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 5px 15px;
        width: 65%;
        font-size: 16px;
        resize: none;
        color: rgb(104, 104, 104);
    }
}