.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../img/doodle.png');

}

.login .row {
    width: 100%;
}

.login .form {

    flex-basis: 100%;
    display: flex;
    justify-content: center;


}

.login .card {
    display: flex;
    flex-direction: column;
    background: url('../img/paper.jpg');
    padding: 50px 20px;
    border-radius: 10px;
    margin: 30px;
    width: 30%;
    box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.3);
    border: 3px solid #555;
    background-size: cover;
}

.login .card input {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 7px;
    outline: none;
    border: 2px solid rgb(46, 46, 46);
    background-color: #fff;
}

.login button {
    width: 20%;
    padding: 10px;
}

.login .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login .footer p {
    font-size: 13px;
}

.login form {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:1300px) {
    .login .card {
        display: flex;
        flex-direction: column;
        background: url('../img/paper.jpg');
        padding: 50px 20px;
        border-radius: 10px;
        margin: 30px;
        width: 50%;
        box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.3);
        border: 3px solid #555;
        background-size: cover;
    }
}

@media only screen and (max-width:800px) {
    .login .card {
        display: flex;
        flex-direction: column;
        background: url('../img/paper.jpg');
        padding: 50px 20px;
        border-radius: 10px;
        margin: 30px;
        width: 70%;
        box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.3);
        border: 3px solid #555;
        background-size: cover;
    }
}

@media only screen and (max-width:600px) {
    .login .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .login button {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
    }
}

@media only screen and (max-width:460px) {
    .login .card {
        display: flex;
        flex-direction: column;
        background: url('../img/paper.jpg');
        padding: 50px 20px;
        border-radius: 10px;
        margin: 30px;
        width: 90%;
        box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.3);
        border: 3px solid #555;
        background-size: cover;
    }
}