.navbar {
    height: 100vh;
    width: 15%;
    position: fixed;
    background-color: rgb(59, 59, 59);
    overflow: hidden;

}

.navbar .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    color: #fff;
    background-color: rgb(61, 61, 61);
    box-shadow: 0px 16px 43px 6px rgba(0, 0, 0, 0.2);
}



.icon {
    font-size: 30px;
    margin: 0 20px;
}

.check {
    color: rgb(43, 177, 103);
}

.arc {
    color: rgb(18, 131, 197);
}

.prio {
    color: rgb(236, 121, 68);
}

.navbar .content {
    height: 100vh;
}

.navbar .list {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.navbar .userlog {
    display: flex;
    flex-direction: column;
    margin: 40px 40px;

}

.navbar .userlog button {
    margin: 10px 0;
}

.navbar .list ul {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .list .title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 30px 5px;
    color: #fff;
    border-bottom: 1px solid rgb(63, 63, 63);
}

.mobilenav {
    display: none;
}

@media only screen and (max-width: 1300px) {
    .navbar {
        height: 100vh;
        width: 220px;
        position: fixed;
        background-color: rgb(59, 59, 59);
        overflow: visible;

    }
}

@media only screen and (max-width: 850px) {
    .mobilenav {
        display: block;
    }

    .desktopnav {
        display: none;
    }



    .mobilenav .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        color: #fff;
        background-color: rgb(61, 61, 61);
        box-shadow: 0px 16px 43px 6px rgba(0, 0, 0, 0.2);
        width: 130%;
    }

    .mobilenav .logo .icon {
        font-size: 30px;
        margin: 0 0px;
    }


}